
#fgpass .card {
  text-align: center;
}
#fgpass h1 {
    
    text-align: center;
}

#pass p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: right;
}
#pass h1 {

    text-align: center;
}
